.newproduct{cursor:pointer}
.newproduct:hover{color:rgb(61, 61, 61); text-decoration: underline;}
select{min-width:10rem; margin: 0 5rem 0; padding: 0 1rem 0}
input{min-width:10rem; padding: 0 1rem 0}